{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h3>Tervetuloa huonekasvitietokantaan!</h3>
  <br>
  <p>Huonekasvitietokanta on sovellus, jonka avulla voit pitää kirjaa omistamistasi kasveista.
    Voit myös hakea uusia kasveja mm. lajin ja valontarpeen perusteella.</p>
  <br><br>



  <h6>Aloittelevia viherpeukaloita ovat:</h6>
  <br>

  <ul>
    {% for user in new_users %}
    <li>
      <i> {{user.name}} </i>
    </li>
    {% endfor %}
  </ul>



  {% if current_species is defined %}
  <br><br>
  <h6>Käyttäjien kokoelmista löytyvät seuraavat lajit:</h6>
  <br>

  <ul>
    {% for species in current_species %}
    <li>
      <i> {{species.name}} </i>
    </li>
    {% endfor %}


  </ul>

  {% endif %}
</div>

{% endblock %}