{% extends "layout.html" %}

{% block body %}
  <p>
  Tervetuloa Huonekasvitietokantaan!</p>
<p>
  Huonekasvitietokanta on sovellus, jonka avulla voit pitää kirjaa omistamistasi kasveista. Voit myös hakea uusia kasveja mm. lajin ja valontarpeen perusteella. 
  </p>
  <!––   {% if max_plants is defined %}
<p>
  <br>
   <strong>Seuraavalla käyttäjällä on eniten kasveja:</strong>
</p>
<ul>
  {% for user in max_plants %}
  <li>
    {{user.id}} {{user.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}
––>
{% endblock %}