<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Huonekasvitietokanta</title>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/seedling_1f331.png">
    <link rel="stylesheet"
          href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 



          <style>
            table, th, td {
              padding: 10px;
            }
            </style>        
  </head>
  
  <body>




<!--Navbar-->
<nav class="navbar navbar-dark bg-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">&#127793; Huonekasvitietokanta</a>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth_logout') }}">Hei, {{ current_user.name }} -- Kirjaudu ulos</a>
        {% else %}
        </li><a class= "nav-link" href="{{ url_for('auth_login') }}">Kirjaudu sisään</a>
        
        <a class="nav-link" href="{{ url_for('auth_new') }}">Luo tunnus</a>
        {% endif %}
  
    <!-- Collapse button -->
    <button class="navbar-toggler ml-auto" 
                type="button" 
                data-toggle="collapse"
                data-target="#navbarSupportedContent1"> 
            <span class="navbar-toggler-icon my-toggler"> 
          </span> 
        </button> 
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            
            {% if current_user.is_authenticated %}
            <a class="nav-link" href="{{ url_for('plants_form') }} ">Lisää oma kasvi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('plants_index') }} ">Listaa omat kasvit</a>
                      
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('plantpest_form') }} ">Lisää tartunta</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('plantpest_index') }} ">Listaa tartunnat</a>
                      </li>


                      {% if current_user.id == 1 %}

                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('species_form') }} ">Lisää laji</a>
                        </li>
                        {% endif %} 

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('species_index') }} ">Listaa lajit</a>
                      </li>

                      
                      
                      {% if current_user.id == 1 %}  

                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('pests_form') }} ">Lisää tuholainen</a>
                      </li>
                      {% endif %}
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('pests_index') }} ">Listaa tuholaiset</a>
                        </li>
                       
                        {% if current_user.id == 1 %}

                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth_index') }} ">Hallitse käyttäjiä</a>
                        </li>
                        {% endif %}
                        {% endif %}
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->








    
      




<main role="main" class="container">
    <br>
    <br>
    <br>
    {% block body %}
    <p>
        


    </p>
    {% endblock %}
  
    <script src= 
    "https://code.jquery.com/jquery-3.2.1.slim.min.js"> 
      </script> 
        <script src= 
    "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> 
      </script> 
        <script src= 
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> 
      </script> 



  </body>
</html>  