{% extends "layout.html" %}

{% block body %}

<h4>Tuholaiset</h4>
<br>
<br>

  <table cellpadding="20">
    <tr>
      <th>Nimi</th>
      <th>Tuntomerkit</th>
      <th>Torjunta<th>
      
      
    </tr>
    {% for pest in pests %}
    <tr>
      
      <td>{{ pest.name }}</td>
      <td>{{ pest.description }}</td>
      <td>{{ pest.control }}</td>
      
      {% if current_user.id == 1 %}
      <td>
          <form method="POST" action="{{ url_for('pests_delete', pest_id=pest.id) }}">
            <button type="submit" class="btn btn-danger btn-sm">Poista</button>

          </form>
              </td>

              <td>
                  <form method="POST" action="{{ url_for('pests_edit', pest_id=pest.id) }}">
                    <button type="submit" class="btn btn-primary btn-sm">Muokkaa</button>

                  </form>
                      </td>
                      {% endif %} 
    </tr>
    {% endfor %}
  </table>
{% endblock %}