{% extends "layout.html" %}

{% block body %}
  <table cellpadding="20">
    <tr>
      <th>id</th>
      <th>Nimi</th>
      <th>Käyttäjätunnus</th>
      <th>Tunnus luotu</th>
    </tr>
    {% for account in auth %}
    <tr>
      <td>{{ account.id }}</td>
      <td>{{ account.name }}</td>
      <td>{{ account.username }}</td>
      <td>{{ account.date_created }}</td>
      
       
            <td>
                <form method="POST" action="{{ url_for('auth_delete', account_id=account.id) }}">
                  <input type="submit" value="Poista käyttäjä"/>
                </form>
                    </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}