{% extends "layout.html" %}

{% block body %}
  <table cellpadding="20">
    <tr>
      <th>Kasvi</th>
      <th>Laji<th>
      <th>Tuholaistartunta</th>
      
    </tr>
    {% for plant in plants %}
    <tr>
      
      <td>{{ plant.name }}</td>
      <td>{{ plant.species_id }}</td>
      <td>{{ plant.pest }}</td>
      <td>
        
        <form method="POST" action="{{ url_for('plants_set_pest', plant_id=plant.id) }}">
          <input type="submit" value="Merkitse tuholaiset"/>
        </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('plants_delete', plant_id=plant.id) }}">
                  <input type="submit" value="Poista kasvi"/>
                </form>
                    </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}