{% extends "layout.html" %}

{% block body %}
  <table cellpadding="20">
    <tr>
      <th>Kasvi</th>
      <th>Laji<th>
     
      
    </tr>
    {% for plant in plants %}
    <tr>
      
      <td>{{ plant.name }}</td>
      <td>{{ plant.species_name }}</td>
      
     
            <td>
                <form method="POST" action="{{ url_for('plants_delete', plant_id=plant.id) }}">
                  <input type="submit" value="Poista"/>
                </form>
                    </td>

                    <td>
                        <form method="POST" action="{{ url_for('plants_edit', plant_id=plant.id) }}">
                          <input type="submit" value="Muokkaa"/>
                        </form>
                            </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}