{% extends "layout.html" %}

{% block body %}

<h4>Kasvilajit</h4>
<br>
<br>
  <table cellpadding="20">
    <tr>
      <th>Suku</th>
      <th>Epiteetti</th>
      <th>Nimi</th>
      <th>Vedentarve</th>
      <th>Valontarve</th>
      
    </tr>
    {% for species in species %}
    <tr>
      <td>{{ species.genus }}</td>
      <td>{{ species.epithet }}</td>
      <td>{{ species.name }}</td>
      <td>{{ species.water }}</td>
      <td>{{ species.light }}</td>
      <td>
          {% if current_user.id == 1 %}
          <form method="POST" action="{{ url_for('species_delete', species_id=species.id) }}">
            <input type="submit" value="Poista"/>
          </form>
              </td>

              <td>
                  <form method="POST" action="{{ url_for('species_edit', species_id=species.id) }}">
                    <input type="submit" value="Muokkaa"/>
                  </form>
                      </td>
                      {% endif %}
      <td>      
            </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}